<head>
  <!-- required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link rel="shortcut icon" href="/img/favicon.ico">
  <title>Nordic RSE</title>

  <!-- twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Nordic RSE – Research Software Engineers Network – Online get together event 30.Nov–02.Dec #NordicRSE2020">
  <meta name="twitter:image" content="https://raw.githubusercontent.com/nordic-rse/nordic-rse-materials/main/graphics/www/NordicRSE_GetTogetherNovDec2020_TwitterCard.png">
  <meta name="twitter:description" content="Nordic RSE – Research Software Engineers Network – Online get together event 30.Nov–02.Dec #NordicRSE2020">
  <meta name="twitter:site" content="@nordic_rse" />
  <meta name="twitter:creator" content="@nordic_rse" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Nordic RSE – Research Software Engineers Network in Northern Europe" />
  <meta property="og:description" content="Nordic RSE – Research Software Engineers Network – Online get together event 30.Nov–02.Dec #NordicRSE2020" />
  <meta property="og:url" content="https://nordic-rse.org/" />
  <meta property="og:site_name" content="Nordic RSE – Research Software Engineers Network in Northern Europe" />
  <meta property="og:image" content="https://raw.githubusercontent.com/nordic-rse/nordic-rse-materials/main/graphics/www/NordicRSE_GetTogetherNovDec2020_TwitterCard.png" />
  <meta property="og:image:width" content="876" />
  <meta property="og:image:height" content="458" />



  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- our custom style -->
  <link href="/css/style.css" rel="stylesheet">
</head>
