<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" href="/">
          <img src="/img/logo_32.png" style="display: inline-block;">
          <span style="display: inline-block;">Nordic-RSE</span>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
	   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Join us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/communities/join/">How to join</a>
          <a class="dropdown-item" href="/communities/local/">Local communities</a>
          <a class="dropdown-item" href="/communities/finland/">Finland</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
	   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Conference
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/conference/">Nordic-RSE 2020</a>
          <a class="dropdown-item" href="/conference/registration/">Registration</a>
          <a class="dropdown-item" href="/conference/submissions/">Submit an abstract</a>
          <a class="dropdown-item" href="/conference/timeline/">Important dates</a>
          <a class="dropdown-item" href="/conference/schedule/">Schedule</a>
          <a class="dropdown-item" href="/conference/sponsors/">Call for sponsors</a>
          <a class="dropdown-item" href="/conference/practical/">Practical information</a>
          <a class="dropdown-item" href="/conference/code-of-conduct/">Code of conduct</a>
          <a class="dropdown-item" href="/conference/team/">Team</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events/">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://nordic-rse.org/map/">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/media/">Media</a>
      </li>
    </ul>
  </div>
</nav>
