{% extends "base.html" %}

{% block content %}

<div class="teaser-container">
  <div class="teaser-child">
    <a href="{{ config.base_url | safe }}/events/">
      <h3><i class="fa fa-calendar"></i> Events</h3>
      <p>Give a look to our seminars and conferences for you to network and develop your software skills.</p>
    </a>
  </div>

  <div class="teaser-child">
    <a href="{{ config.base_url | safe }}/join/">
      <h3><i class="fa fa-users"></i> Join our community </h3>
      <p>Come and be part of Nordic-RSE! Your bring yourself, we provide the community. </p>
    </a>
  </div>

  <div class="teaser-child">
    <a href="{{ config.base_url | safe }}/blog/">
      <h3><i class="fa fa-book"></i> Blog</h3>
      <p>Here you can find more about our activities and read what we have been up to.</p>
    </a>
  </div>
</div>
  <div class="col">
    {{ section.content | safe }}
  </div>
{% endblock content %}
