{% extends "base.html" %}

{% block social_media_image %}
  <meta name="twitter:image" content="https://raw.githubusercontent.com/nordic-rse/nordic-rse-materials/main/graphics/www/NordicRSE_SeminarSeries_TwitterCard.png">
  <meta property="og:image" content="https://raw.githubusercontent.com/nordic-rse/nordic-rse-materials/main/graphics/www/NordicRSE_SeminarSeries_TwitterCard.png" />
  <meta property="og:image:width" content="876" />
  <meta property="og:image:height" content="458" />
{% endblock social_media_image %}

{% block content %}
  <div class="col-md-9">
    <h1>{{ section.title }}</h1>
  </div>
  <div class="col-md-3">
    {% if section.toc %}
      <ul>
      {% for h1 in section.toc %}
        <li>
          <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
          {% if h1.children %}
            <ul>
              {% for h2 in h1.children %}
                <li>
                  <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="col-md-12">
    {{ section.content | safe }}
  </div>
{% endblock content %}
