<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="navbar-brand" href="#">
                        <img src="img/logo_32.png" style="display: inline-block;">
                        <span style="display: inline-block;">NORDIC RSE</span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="mailto:contact@nordic-rse.org">
                        <span class="glyphicon glyphicon-envelope"></span>
                        contact@nordic-rse.org 
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </nav>

    <main class="page-content" aria-label="Content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{ content }}
          </div>
        </div>
      </div>
      {% include footer.html %}
    </main>

  </body>

</html>
