<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="container">
      {% include navbar.html %}

      <div class="row top-buffer">
        <div class="col-md-8">
          {{ content }}
        </div>
        <div class="col-md-4">
          <a class="twitter-timeline" data-height="1500" href="https://twitter.com/nordic_rse">Tweets by nordic_rse</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>

      {% include footer.html %}
    </div>

    {% include js.html %}
  </body>

</html>
